<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         colors="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         verbose="true">

    <testsuites>
        <testsuite name="PHP Coding Challenge: YouTube Video Search">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <php>
        <server name="REQUEST_SCHEME" value="https"/>
        <server name="HTTP_HOST" value="httpbin.org"/>
        <server name="REQUEST_URI" value="get"/>
        <const name="BASE_DIR" value="."/>
    </php>
</phpunit>
